.button {
  display: inline-block;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: $primary-bg-color;
  min-width: 200px;
  background: $accent-color;
  box-shadow: 0px 4px 4px $btn-shadow-color;
  border-radius: 4px;
  border: 0;
}

